<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725941606636-j7fpvoe9mrti47qfo6f7g2faut4s5b99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725941606636-j7fpvoe9mrti47qfo6f7g2faut4s5b99</string>
	<key>API_KEY</key>
	<string>AIzaSyAaqZKRTwNBTYmS454A46fMPhLVjtGtWGk</string>
	<key>GCM_SENDER_ID</key>
	<string>725941606636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DLibrary.DLibrary</string>
	<key>PROJECT_ID</key>
	<string>dlibrary-362200</string>
	<key>STORAGE_BUCKET</key>
	<string>dlibrary-362200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725941606636:ios:49abf751edd40c373b2dc9</string>
</dict>
</plist>